@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import "tailwindcss";

/* Colores por defecto */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Reset básico */

/* Tipografía global */
html,
body {
  font-family: 'Inter', sans-serif;
  background-color: #121212;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.font-protest {
  font-family: 'Protest Strike', sans-serif !important;
}